<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% if (locals.currentUser) { %>
    <h1><%= title %></h1>
    <form action="become-admin" method="post">
      <label
        >Passcode
        <input type="text" name="code" required />
      </label>
      <input type="submit" value="Become an admin!" />
    </form>
    <% if (locals.error) { %> <%= error %> <% } %> <% } else{ %>
    <h1>Please sign in to see this page.</h1>
    <% } %>
  </body>
</html>
