<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% if (locals.currentUser) { %>
    <a href="/create-message">Create new message!</a> <% } else{ %>
    <h1>Sign in to create messages</h1>
    <% } %>
  </body>
</html>
